[Unit]
Description=Gunicorn server for SITENAME

[Service]
Restart=on-failure
User=jim9502
WorkingDirectory=/home/jim9502/sites/SITENAME/source
ExecStart=/home/jim9502/sites/SITENAME/virtualenv/bin/gunicorn --bind unix:/tmp/SITENAME.socket \
superlists.wsgi:applicat

[Install]
WantedBy=multi-user.target